<div *ngIf="product">

  <h2>{{product.name}} :</h2>

  <div class="row">
    <label>name:
      <input [(ngModel)]="product.name" placeholder="name" />
    </label>

    <label>descr:
        <input [(ngModel)]="product.descr" placeholder="name" />
      </label>

    <label>id:
      <input [(ngModel)]="product.id" placeholder="name" />
    </label>

    <label>price:
      <input [(ngModel)]="product.price" placeholder="name" />
    </label>
  </div>

</div>