<div class="container">
  <div class="row">

    <!-- LIST -->
    <div class="col-6">
      <div class="col">
        <h2>Products:</h2>
        <div class="row actions">
          <button (click)="add()">Add</button>
          <button (click)="save()">Save</button>
        </div>
      </div>
      <ul>
        <li *ngFor="let p of products; let i = index">
          <span (click)="onSelect(p,i)">{{p.name}}  </span>
          <button (click)="delete(i)">x</button>
        </li>
      </ul>
    </div>

    <!-- DETAILS -->
    <div class="col-6">
      <app-product-details [product]="selectedProduct"></app-product-details>
      
    </div>

  </div>

</div>